import(ggplot2)
importFrom("brnn", "brnn", "predict.brnn")
importFrom("reshape2", "melt", "dcast")
importFrom("scales", "pretty_breaks")
importFrom("stats", "cor", "lm", "qt", "quantile", "predict", "sd", "as.formula", "princomp", "model.matrix", "median", "step")
importFrom("utils", "capture.output", "setTxtProgressBar", "txtProgressBar")
importFrom("graphics", "plot")
importFrom("MLmetrics", "RRSE", "RMSE")
importFrom("dplyr", "select", "desc", "summarise", "filter", "group_by")
importFrom("oce", "rescale")
importFrom("magrittr", "%>%")

export(daily_response)
export(plot_extreme)
export(plot_heatmap)
export(plot_specific)
export(critical_r)
export(years_to_rownames)
export(calculate_metrics)
export(smooth_matrix)
export(round_df)
